%title {
    font-family: 'Nunito Sans';
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
}
%sub_title {
    font-family: 'Nunito Sans';
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
}
%desc {
    font-family: 'Nunito Sans';
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
}
%montserrat-bold {
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 700;
    line-height: 34px;
    color: #415167;
}
$brown: #C7A17A;